:root {
  --black: #111010;
  --white: #ffffff;
  --grey: #e7e7e7;
  --dark-grey: #d9d9d9;
  --neon-light: #acf9e7;
  --pink: #a7398d;
  --pink-light: #ffd3f5;
  --neon: #41938c;
  --blue-light: #98b9e9;
  --blue: #232f61;
  --font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--font-family) !important;
  position: relative;
}

a {
  text-decoration: none;
  color: initial;
}

.p-black-small {
  font-size: 11px;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;

  word-wrap: break-word !important; 
}
.p-blue-small {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--blue);

  word-wrap: break-word !important; 
}
.p-white-small {
  font-size: 11px;

  font-weight: 400;
  /* letter-spacing: 1px; */
  color: var(--white);

  word-wrap: break-word !important; 
}
.p-grey {
  font-size: 13px;

  color: var(--grey);
  font-weight: 400;
  letter-spacing: 1px;

  word-wrap: break-word !important; 
}
.p-black {
  font-size: 13px !important;

  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;

  word-wrap: break-word !important; 
}
.p-white {
  font-size: 13px !important;
  font-weight: 400;
  letter-spacing: 1px;

  color: var(--white);
  word-wrap: break-word !important; 
}
.p-black-bold {
  font-size: 15px;
  line-height: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;

  word-wrap: break-word !important; 
}
.p-white-bold {
  font-size: 15px;
  line-height: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 1px;

  word-wrap: break-word !important; 
}

.p-heading-black {
  font-size: 16px !important;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--black);
  letter-spacing: 1px;
  font-weight: 700;

  word-wrap: break-word !important; 
}
.p-heading-white {
  font-size: 16px !important;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 700;

  word-wrap: break-word !important; 
}

section {
  padding: 1rem 0;
}
.section-top {
  background: var(--blue-light);
  color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  padding: 4px 14px;
}
.section-heading-black {
  font-size: 30px !important;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 1px;
  font-weight: 800;

  word-wrap: break-word !important; 
}
.section-heading-white {
  font-size: 30px !important;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 800;

  word-wrap: break-word !important; 
}
.sub-heading-black {
  font-size: 20px !important;
  line-height: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;

  word-wrap: break-word !important; 
}
.sub-heading-white {
  font-size: 20px !important;
  line-height: 1.5rem;
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;
  word-wrap: break-word !important; 
}

.banner-black {
  font-size: 40px !important;

  color: var(--black);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;

  word-wrap: break-word !important; 
}
.banner-white {
  font-size: 40px !important;

  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;
  word-wrap: break-word !important; 
}

.btn-white {
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  border: 3px solid var(--white);
  padding: 2px 10px;
  transition: all 0.5s;
}
.btn-white:hover {
  background: transparent;
  color: var(--white);
  border-radius: 10px;
  padding: 2px 14px;
}
.btn-blue {
  background: var(--blue);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;

  font-size: 12px;
  border: 3px solid var(--blue);
  padding: 2px 10px;
  padding: 2px 14px;
  transition: all 0.5s;
}
.btn-blue:hover {
  background: transparent;
  color: var(--black);
  border-radius: 10px;
  padding: 2px 14px;
}
.btn-neon {
  background: var(--neon);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;

  font-size: 12px;
  border: 3px solid var(--neon);
  padding: 2px 10px;
  padding: 2px 14px;
  transition: all 0.5s;
}
.btn-neon:hover {
  background: transparent;
  color: var(--neon);
  border-radius: 10px;
  padding: 2px 14px;
}
.btn-pink {
  background: var(--pink);
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;

  font-size: 12px;
  border: 3px solid var(--pink);
  padding: 2px 10px;
  padding: 2px 14px;
  transition: all 0.5s;
}
.btn-pink:hover {
  background: transparent;
  color: var(--pink) !important;
  border-radius: 10px;
  padding: 2px 14px;
}

.btn-wtrans {
  border: 3px solid var(--white);
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
  background: transparent;
  color: var(--white);
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}
.btn-wtrans:hover {
  border-color: var(--white);
  background: var(--white);
  color: var(--black);
  border: none !important;
  padding: 2px 14px;
}
.btn-btrans {
  border: 3px solid var(--blue);
  padding: 2px 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background: transparent;
  transition: all 0.5s;
  color: var(--blue);
}
.btn-btrans:hover {
  border-color: var(--blue);
  background: var(--blue);
  color: var(--white);

  padding: 2px 14px;
}
.btn-ntrans {
  border: 3px solid var(--neon);
  padding: 2px 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background: transparent;
  transition: all 0.5s;
  color: var(--neon);
}
.btn-ntrans:hover {
  border-color: var(--neon);
  background: var(--neon);
  color: var(--white);

  padding: 2px 14px;
}

.btn-ptrans {
  border: 3px solid var(--pink);
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
  background: transparent;
  color: var(--white);
  backdrop-filter: blur(10px);
  transition: all 0.5s;
}
.btn-ptrans:hover {
  border-color: var(--pink);
  background: var(--pink);
  color: var(--white);
  border: none !important;
  padding: 2px 14px;
}
.white-to-blue {
  background: linear-gradient(180deg, #3f6999, #669cda, #92c0ec, #a7d0ee);
  height: fit-content;
  padding: 2rem;
  border-radius: 20px;
}

.overflow-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.overflow-2 {
  display: -webkit-box ;
  overflow: hidden;
  text-overflow: ellipsis !important;
  width: 100% !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2  !important;
}
.overflow-3 {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
}
.overflow-4 {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4 !important;
}

.space {
  padding: 2rem 0;
}

.form-control {
  background: transparent !important;
  border-color: var(--grey);
}

.form-control:focus {
  background-color: var(--bs-body-bg);
  border-color: #a24d9b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(162 77 155 / 23%);
}
.form-control::placeholder {
  color: #ccc;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}

#navbar-sticky {
  transition: all 0.5s ease;
}
.trans-bg {
  background: #00000097;
  backdrop-filter: blur(5px);
}
.navbar-not.bg-dark.navbar-dark {
  width: 100% !important;
  height: fit-content !important;
  top: 0;
  background: var(--blue) !important;
  left: 0;
  z-index: 100;
  padding: 0;
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.trans-bg {
  background-color: #1e1e1e !important;
}

.navbar-collapse.collapse.show {
  transition: all 0.1s;
  background: #404680 !important;
}
.nav-link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0 !important;
  margin: 0px 10px !important;
}
.nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--white) !important;
  background: none;
  font-weight: bold !important;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link.show::before {
  animation: width 0.5s linear forwards !important;
}

.nav-link::before {
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  border-radius: 10px;
  background: var(--neon);
  content: "";
}
.nav-item:hover .nav-link::before {
  animation: width 0.5s linear forwards !important;
}
@keyframes width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(244, 244, 244, 0.775);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.animate__animated.animate__fadeInUp {
  animation-duration: 0.5s !important;
}

.dropdown-item svg {
  color: var(--pink);
}
.dropdown-item:hover svg {
  color: var(--white);
}
.dropdown-item:hover span {
  color: var(--white) !important;
}
.dropdown-item:hover {
  background: var(--pink) !important;
}
.dropdown-item:hover svg {
  background: var(--wite)  !important;
}

.active.dropdown-item.p-black {
  background: var(--pink);
}
.active.dropdown-item svg {
  color: var(--white) !important;
}
